
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantilla">

<head>
<meta charset="utf-8">
<title>GESTION DE CLIENTES</title>
</head>

<body>
	<div layout:fragment="espaciopaginas">
		<h2>Lista de Cliente</h2>

		<a th:href="@{/listarclientes/nuevo}"
			class="mdc-button mdc-button--raised mdc-button--primary"> Nuevo
			Cliente </a>
		<table class="mdc-data-table__table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.email}"></td>
					<td><a
						th:href="@{/listarclientes/editar/{id}(id=${cliente.id})}">
							Editar </a> | <a
						th:href="@{/listarclientes/eliminar/{id}(id=${cliente.id})}">
							Eliminar </a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/sidebarmenu.js"></script>
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
	<!-- solar icons -->
	<script
		src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>