<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui">

<head>
<meta charset="utf-8">
<title>Nuevo Cliente</title>
</head>

<body>
	<div layout:fragment="espaciopaginas">
		<h2>
			<span class="material-icons">add_circle</span> Añadir Cliente
		</h2>
		<div th:if="${error}"
			style="margin: 10px 0; padding: 10px; border-radius: 10px; border: 1px solid #f1b6b6; background: #fdecec; color: #b00020;">
			<span th:text="${error}"></span>
		</div>

		<div th:if="${msg}"
			style="margin: 10px 0; padding: 10px; border-radius: 10px; border: 1px solid #b7e1c1; background: #eaf7ee; color: #0a7a2f;">
			<span th:text="${msg}"></span>
		</div>

		<form th:action="@{/clientes/guardar}" th:object="${cliente}"
			method="post">
			<input type="hidden" name="returnTo" th:value="${returnTo}">
			<input type="hidden" th:field="*{idCliente}">

			<div class="form-group">
				<label for="txtnombre" class="form-label">Nombre</label> <input
					th:field="*{nombre}" type="text" class="form-control"
					id="txtnombre">
			</div>

			<div class="form-group">
				<label for="txtapellido" class="form-label">Apellido</label> <input
					th:field="*{apellido}" type="text" class="form-control"
					id="txtapellido">
			</div>

			<div class="form-group">
				<label for="txtci" class="form-label">DNI / C.I. / C.C.</label> <input
					th:field="*{ci}" type="text" class="form-control" id="txtci"
					required pattern="\d{10}" title="La cédula debe tener 10 dígitos">
				<small th:if="${errorCi}" th:text="${errorCi}"
					style="color: #b00020;"></small>

			</div>

			<div class="form-group">
				<label for="txttelefono" class="form-label">Teléfono</label> <input
					th:field="*{telefono}" type="text" class="form-control"
					id="txttelefono">
			</div>

			<div class="form-group">
				<label for="txtcorreo" class="form-label">Email</label> <input
					th:field="*{correo}" type="email" class="form-control"
					id="txtcorreo" required> <small th:if="${errorCorreo}"
					th:text="${errorCorreo}" style="color: #b00020;"></small>
			</div>

			<div class="form-group">
				<label for="txtdireccion" class="form-label">Dirección</label> <input
					th:field="*{direccion}" type="text" class="form-control"
					id="txtdireccion">
			</div>

			<div class="form-actions">
				<button type="submit" class="btn-centronet">
					<i class="fa fa-save"></i> Guardar
				</button>
				<a
					th:href="${(returnTo != null and !#strings.isEmpty(returnTo)) ? returnTo : '/clientes'}"
					class="btn-outline"> <i class="fa fa-times"></i> Cancelar
				</a>
			</div>

		</form>
	</div>
</body>
</html>
